.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  bottom: 40px;
  right: 40px;
}

#charmander {
  top: 10px;
  right: 20px;
}

#squirtle {
  top: 40px;
}

#pikachu {
  top: 100px;
  left: 30px;
}

#jigglypuff {
  top: 200px;
  left: 50px;
}
